<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRM - Atualização de requerimento</title>
    <link rel="stylesheet" href="common-style.css">
    <link rel="stylesheet" href="criar-crm.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="atualizar-crm.js"></script>
</head>
<body>
    <div id="cadastro">
        <h2>Atualização do Requerimento de Mudança</h2>
        <form action="/updateCRM" method="post">
            <input type="number" name="idcrm" value="<%= idcrm %>" hidden>
            <label>Descrição:</label>
            <textarea id="descricao" name="descricao" rows="2" cols="100" required readonly><%= descricao %></textarea><br><br>
            <label>Objetivo:</label>
            <textarea id="objetivo" name="objetivo" rows="8" cols="100" required placeholder="Insira aqui o objetivo do requerimento. Exemplo: o objetivo deste requerimento é a aceitação de operadoras de cartão de crédito estrangeiras na loja virtual"></textarea><br><br>
            <label>Justificativa:</label>
            <textarea id="justificativa" name="justificativa" rows="32" required cols="100" placeholder="Insira aqui a justificativa para a realização deste requerimento. Exemplo: com o aumento do número de clientes de fora do Brasil, há a necessidade de aceitação de bandeiras estrangeiras de cartões de crédito nas compras online no site da Quero-Quero, afim de refletir um aumento nas vendas para clientes estrangeiros..."></textarea><br><br>
            <label>Comportamento off-line:</label>
            <textarea id="comportamentooffline" name="comportamentooffline" rows="32" cols="100" placeholder="Insira aqui qual o comportamento deste requerimento quando a loja estiver off-line"></textarea><br><br>
            <label>Changelog:</label>
            <textarea id="changelog" name="changelog" rows="32" cols="100" required placeholder="Insira aqui as alterações realizadas neste requerimento (exemplos: atualização dos campos de texto, novos documentos inseridos, inclusão ou exclusão de um setor)"></textarea><br><br>
            <label>Setores envolvidos:</label><br>
            <% setores.forEach(setor => { %>
                <% if (setor.is_ti === true) { %>
                    <% return; %>
                <% } %>
                <% if (setor.idsetor === setorUsuario) { %>
                    <input type="checkbox" name="setores[]" value="<%= setor.idsetor %>" checked required><%= setor.nomesetor %><br>
                <% } else { %>
                    <input type="checkbox" name="setores[]" value="<%= setor.idsetor %>"><%= setor.nomesetor %><br>
                <% } %>
            <% }); %>
            <br>
            <label>Documentos anexados:</label>
            <input type="file" id="anexo" multiple><br><br>
            <input type="submit" id="cancelar" value="Cancelar">
            <input type="submit" id="enviar" value="Cadastrar">
        </form>
    </div>
</body>
</html>