<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRM #<%= crm[0].idcrm %> - Histórico de alterações</title>
    <link rel="stylesheet" href="common-style.css">
    <link rel="stylesheet" href="changelog-crm.css">
    <script src="changelog-crm.js" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <div id="changelog">
    <h1>Histórico de alterações</h1>
    <a href="/home">Voltar</a>
        <!-- https://www.w3schools.com/howto/howto_js_accordion.asp -->
        <% crm.forEach(version => { %>
            <div class="changelogDesc">
                <h3>Versão <%= version.versao %> - <%= version.dataabertura %></h3>
                <div class="changelogDescContent">
                    <div>
                        <h3>Descrição:</h3>
                        <p><%= version.descricao %></p>
                    </div>
                    <div>
                        <h3>Objetivo:</h3>
                        <p><%= version.objetivo %></p>
                    </div>
                    <div>
                        <h3>Justificativa:</h3>
                        <p><%= version.justificativa %></p>
                    </div>
                    <div>
                        <h3>Comportamento offline:</h3>
                        <p><%= version.comportamentooffline %></p>
                    </div>
                    <div class="changelog">
                        <h3>Changelog:</h3>
                        <p><%= version.changelog %></p>
                    </div>
                    <div>
                        <h3>Documentos:</h3>
                        <% documentos.forEach(doc => { %>
                            <% if (doc.crm_versao == version.versao) { %>
                                <p><a href="/download?id=<%= doc.iddocumento %>" target="_blank"><%= doc.nomedoc %></a></p>
                            <% } %>
                        <% }) %>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
</body>
</html>