<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRM - Informações do requerimento</title>
    <link rel="stylesheet" href="common-style.css">
    <link rel="stylesheet" href="info-crm.css">
    <script src="info-crm.js" defer></script>
</head>
<body>
    <div id="infoCRM">
        <div id="infoCRM-header">
            <h1>Informações do requerimento</h1>
            <a href="/changelog?id=<%= id %>">Histórico de versões</a>
        </div>
        <h3>Descrição:</h3>
        <div id="descricao" class="texto">
            <p><%= dados.descricao %></p>
        </div>
        <h3>Objetivo:</h3>
        <div id="objetivo" class="texto">
            <p><%= dados.objetivo %></p>
        </div>
        <h3>Justificativa:</h3>
        <div id="justificativa" class="texto">
            <p><%= dados.justificativa %></p>
        </div>
        <% if (dados.comportamentoffline !== null) { %>
            <h3>Comportamento offline:</h3>
            <div id="comportamentooffline" class="texto">
                <p><%= dados.comportamentooffline %></p>
            </div>
        <% } %>
        <h3>Documentos:</h3>
        <div id="documentos">
            <ul>
                <li><a href="#">Documento 1</a></li>
                <li><a href="#">Documento 2</a></li>
                <li><a href="#">Documento 3</a></li>
                <li><a href="#">Documento 4</a></li>
                <li><a href="#">Documento 5</a></li>
            </ul>
        </div>
        <h3>Setores envolvidos</h3>
        <div id="setoresTabela">
            <table>
                <tr>
                    <th>Setor</th>
                    <th>Feedback do setor</th>
                    <th>Justificativa</th>
                </tr>
                <tr>
                    <td>Setor 1</td>
                    <td>Feedback setor 1</td>
                    <td>Justificativa</td>
                </tr>
                <tr>
                    <td>Setor 2</td>
                    <td>Feedback setor 2</td>
                    <td>Justificativa</td>
                </tr>
                <tr>
                    <td>Setor 3</td>
                    <td>Feedback setor 3</td>
                    <td>Justificativa</td>
                </tr>
                <tr>
                    <td>Setor 4</td>
                    <td>Feedback setor 4</td>
                    <td>Justificativa</td>
                </tr>
                <tr>
                    <td>Setor 5</td>
                    <td>Feedback setor 5</td>
                    <td>Justificativa</td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>